# Script to consolidate data from the [Covid Tracking Project](https://covidtracking.com/) and calculate simple ratios for display in Tableau

# Packages and data import

In [1]:
import requests, json
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [2]:
# table with state names and abbreviations
states_abbr = pd.read_csv("state_table.csv")
states_abbr.head()

        state state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

### Load [states daily 4pm EST](https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml) data

In [3]:
states_url = "https://covidtracking.com/api/states/daily"

In [4]:
# request from url
states_raw = requests.get(states_url)

In [5]:
# convert request to json
states_json = states_raw.json()

In [7]:
# show first two records in json file
states_json[:2]

[{'date': 20200321,
  'state': 'AK',
  'positive': 14,
  'negative': 758,
  'pending': None,
  'hospitalized': 0,
  'death': None,
  'total': 772,
  'dateChecked': '2020-03-21T20:00:00Z'},
 {'date': 20200321,
  'state': 'AL',
  'positive': 124,
  'negative': 28,
  'pending': None,
  'hospitalized': None,
  'death': 0,
  'total': 152,
  'dateChecked': '2020-03-21T20:00:00Z'}]

In [21]:
# convert json to dataframe
states = pd.DataFrame(states_json)

# show first five rows
states.head()

,date,state,positive,negative,pending,hospitalized,death,total,dateChecked
0,20200321,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21T20:00:00Z
1,20200321,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21T20:00:00Z
2,20200321,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21T20:00:00Z
3,20200321,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21T20:00:00Z
4,20200321,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21T20:00:00Z

In [22]:
# data types by column
states.dtypes

date              int64
state            object
positive        float64
negative        float64
pending         float64
hospitalized    float64
death           float64
total             int64
dateChecked      object
dtype: object

In [23]:
# set 'date' to date and 'dateChecked' to timestamp
states['date'] = pd.to_datetime(states['date'], format = "%Y%m%d").dt.strftime('%Y-%m-%d')
states['dateChecked'] = pd.to_datetime(states['dateChecked'])

# rename 'state' to 'state_abbr'
states.rename(columns = {'state': 'state_abbr'}, inplace = True)

# show first five rows
states.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00

### Load state populations from Census American Community Survey (ACS5)

In [24]:
# map url to var
states_acs5_url = "https://api.census.gov/data/2017/acs/acs5?get=NAME,B01001_001E&for=state:*"

In [25]:
# import data from url
states_acs5_raw = requests.get(states_acs5_url)

In [26]:
# data to json
states_acs5_json = states_acs5_raw.json()

In [27]:
# json to dataframe
states_pop = pd.DataFrame(states_acs5_json[1:], columns = states_acs5_json[0]).rename(columns = 
                                                        {"B01001_001E": "population",
                                                         "NAME": "state",
                                                         "state": "state_fips"})
# show first five rows
states_pop.head()

         state population state_fips
0  Puerto Rico    3468963         72
1      Alabama    4850771         01
2       Alaska     738565         02
3      Arizona    6809946         04
4     Arkansas    2977944         05

Making an additional join so we have state abbreviation - will be needed for join below

In [28]:
# left join state abbr
states_pop = pd.merge(states_pop, states_abbr, on = "state", how = "left")

# rename 'state' to 'state_name'

# show first five rows
states_pop.head()

         state population state_fips state_abbr
0  Puerto Rico    3468963         72         PR
1      Alabama    4850771         01         AL
2       Alaska     738565         02         AK
3      Arizona    6809946         04         AZ
4     Arkansas    2977944         05         AR

In [29]:
states.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00

# Join state population to state case table

In [30]:
# join the population to the state test/case table
combined_1 = pd.merge(states, states_pop[['state', 'state_abbr', 'population']]
                      , on = 'state_abbr', how = 'left')#.drop('state_abbr', 1)

# show first five rows
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00,Alaska,738565
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00,Alabama,4850771
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00,Arkansas,2977944
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00,NaN,NaN
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00,Arizona,6809946

# Create ratios

In [31]:
# by state, change in total from one day to the next
combined_1['tests_since_prev_day'] = combined_1.groupby('state')['total'].diff(-1)

# by state, change in positive from one day to the next
combined_1['positives_since_prev_day'] = combined_1.groupby('state')['positive'].diff(-1)

# by state, change in positive from one day to the next
combined_1['negatives_since_prev_day'] = combined_1.groupby('state')['negative'].diff(-1)

# show table
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00,Alaska,738565,74.0,2.0,72.0
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00,Alabama,4850771,43.0,43.0,0.0
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00,Arkansas,2977944,189.0,22.0,216.0
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00,NaN,NaN,NaN,NaN,NaN
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00,Arizona,6809946,89.0,39.0,29.0

In [33]:
# look at NY state
combined_1[combined_1['state'] == "New York"]

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day
37,2020-03-21,NY,10356.0,35081.0,NaN,1603.0,44.0,45437,2020-03-21 20:00:00+00:00,New York,19798228,13010.0,3254.0,9756.0
93,2020-03-20,NY,7102.0,25325.0,NaN,NaN,35.0,32427,2020-03-20 20:00:00+00:00,New York,19798228,10143.0,2950.0,7193.0
149,2020-03-19,NY,4152.0,18132.0,NaN,NaN,12.0,22284,2020-03-19 20:00:00+00:00,New York,19798228,7687.0,1770.0,5917.0
202,2020-03-18,NY,2382.0,12215.0,NaN,NaN,12.0,14597,2020-03-18 20:00:00+00:00,New York,19798228,7391.0,682.0,6709.0
258,2020-03-17,NY,1700.0,5506.0,NaN,NaN,7.0,7206,2020-03-17 20:00:00+00:00,New York,19798228,1713.0,750.0,963.0
314,2020-03-16,NY,950.0,4543.0,NaN,NaN,7.0,5493,2020-03-16 20:00:00+00:00,New York,19798228,221.0,221.0,0.0
370,2020-03-15,NY,729.0,4543.0,NaN,NaN,3.0,5272,2020-03-15 20:00:00+00:00,New York,19798228,1969.0,205.0,1764.0
421,2020-03-14,NY,524.0,2779.0,NaN,NaN,NaN,3303,2020-03-14 20:00:00+00:00,New York,19798228,103.0,103.0,0.0
472,2020-03-13,NY,421.0,2779.0,NaN,NaN,NaN,3200,2020-03-13 20:00:00+00:00,New York,19798228,2984.0,205.0,NaN
523,2020-03-12,NY,216.0,NaN,NaN,NaN,NaN,216,2020-03-12 20:00:00+00:00,New York,19798228,0.0,0.0,NaN
574,2020-03-11,NY,216.0,NaN,NaN,NaN,NaN,216,2020-03-11 20:00:00+00:00,New York,19798228,-49.0,43.0,NaN
625,2020-03-10,NY,173.0,92.0,NaN,NaN,NaN,265,2020-03-10 20:00:00+00:00,New York,19798228,31.0,31.0,0.0
676,2020-03-09,NY,142.0,92.0,NaN,NaN,NaN,234,2020-03-09 20:00:00+00:00,New York,19798228,37.0,37.0,0.0
693,2020-03-08,NY,105.0,92.0,NaN,NaN,NaN,197,2020-03-08 20:00:00+00:00,New York,19798228,-207.0,29.0,0.0
745,2020-03-07,NY,76.0,92.0,236.0,NaN,NaN,404,2020-03-07 21:00:00+00:00,New York,19798228,43.0,43.0,0.0
797,2020-03-06,NY,33.0,92.0,236.0,NaN,NaN,361,2020-03-06 21:00:00+00:00,New York,19798228,239.0,11.0,16.0
833,2020-03-05,NY,22.0,76.0,24.0,NaN,NaN,122,2020-03-05 21:00:00+00:00,New York,19798228,44.0,16.0,28.0
863,2020-03-04,NY,6.0,48.0,24.0,NaN,NaN,78,2020-03-04 21:00:00+00:00,New York,19798228,NaN,NaN,NaN

In [34]:
# show data types by column
combined_1.dtypes

date                                     object
state_abbr                               object
positive                                float64
negative                                float64
pending                                 float64
hospitalized                            float64
death                                   float64
total                                     int64
dateChecked                 datetime64[ns, UTC]
state                                    object
population                               object
tests_since_prev_day                    float64
positives_since_prev_day                float64
negatives_since_prev_day                float64
dtype: object

In [35]:
# change population from object to numeric
combined_1['population'] = pd.to_numeric(combined_1['population'])

In [36]:
# tests per capita
combined_1['total_tests_per_person'] = combined_1['total'] / combined_1['population']

In [37]:
# show first five rows
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00,Alaska,738565.0,74.0,2.0,72.0,0.001045
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00,Alabama,4850771.0,43.0,43.0,0.0,0.000031
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00,Arkansas,2977944.0,189.0,22.0,216.0,0.000282
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00,Arizona,6809946.0,89.0,39.0,29.0,0.000068

In [38]:
# get today's date
today = datetime.today().strftime('%Y-%m-%d')

In [39]:
# filter date to today and sort states by highest test per capita
combined_1[combined_1['date'].isin([today])].sort_values(by = "total_tests_per_person", ascending = False)

Empty DataFrame
Columns: [date, state_abbr, positive, negative, pending, hospitalized, death, total, dateChecked, state, population, tests_since_prev_day, positives_since_prev_day, negatives_since_prev_day, total_tests_per_person]
Index: []

In [40]:
# determine positive rate per tests
combined_1['positive_per_test'] = combined_1['positives_since_prev_day'] / combined_1['tests_since_prev_day']
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
0,2020-03-21,AK,14.0,758.0,NaN,0.0,NaN,772,2020-03-21 20:00:00+00:00,Alaska,738565.0,74.0,2.0,72.0,0.001045,0.027027
1,2020-03-21,AL,124.0,28.0,NaN,NaN,0.0,152,2020-03-21 20:00:00+00:00,Alabama,4850771.0,43.0,43.0,0.0,0.000031,1.000000
2,2020-03-21,AR,118.0,567.0,154.0,NaN,NaN,839,2020-03-21 20:00:00+00:00,Arkansas,2977944.0,189.0,22.0,216.0,0.000282,0.116402
3,2020-03-21,AS,NaN,NaN,NaN,NaN,0.0,0,2020-03-21 20:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-21,AZ,104.0,240.0,122.0,NaN,1.0,466,2020-03-21 20:00:00+00:00,Arizona,6809946.0,89.0,39.0,29.0,0.000068,0.438202

# Display a few select states

In [44]:
# look at NY over time
combined_1[combined_1['state'] == 'New York']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
37,2020-03-21,NY,10356.0,35081.0,NaN,1603.0,44.0,45437,2020-03-21 20:00:00+00:00,New York,19798228.0,13010.0,3254.0,9756.0,0.002295,0.250115
93,2020-03-20,NY,7102.0,25325.0,NaN,NaN,35.0,32427,2020-03-20 20:00:00+00:00,New York,19798228.0,10143.0,2950.0,7193.0,0.001638,0.290841
149,2020-03-19,NY,4152.0,18132.0,NaN,NaN,12.0,22284,2020-03-19 20:00:00+00:00,New York,19798228.0,7687.0,1770.0,5917.0,0.001126,0.230259
202,2020-03-18,NY,2382.0,12215.0,NaN,NaN,12.0,14597,2020-03-18 20:00:00+00:00,New York,19798228.0,7391.0,682.0,6709.0,0.000737,0.092274
258,2020-03-17,NY,1700.0,5506.0,NaN,NaN,7.0,7206,2020-03-17 20:00:00+00:00,New York,19798228.0,1713.0,750.0,963.0,0.000364,0.437828
314,2020-03-16,NY,950.0,4543.0,NaN,NaN,7.0,5493,2020-03-16 20:00:00+00:00,New York,19798228.0,221.0,221.0,0.0,0.000277,1.000000
370,2020-03-15,NY,729.0,4543.0,NaN,NaN,3.0,5272,2020-03-15 20:00:00+00:00,New York,19798228.0,1969.0,205.0,1764.0,0.000266,0.104114
421,2020-03-14,NY,524.0,2779.0,NaN,NaN,NaN,3303,2020-03-14 20:00:00+00:00,New York,19798228.0,103.0,103.0,0.0,0.000167,1.000000
472,2020-03-13,NY,421.0,2779.0,NaN,NaN,NaN,3200,2020-03-13 20:00:00+00:00,New York,19798228.0,2984.0,205.0,NaN,0.000162,0.068700
523,2020-03-12,NY,216.0,NaN,NaN,NaN,NaN,216,2020-03-12 20:00:00+00:00,New York,19798228.0,0.0,0.0,NaN,0.000011,NaN
574,2020-03-11,NY,216.0,NaN,NaN,NaN,NaN,216,2020-03-11 20:00:00+00:00,New York,19798228.0,-49.0,43.0,NaN,0.000011,-0.877551
625,2020-03-10,NY,173.0,92.0,NaN,NaN,NaN,265,2020-03-10 20:00:00+00:00,New York,19798228.0,31.0,31.0,0.0,0.000013,1.000000
676,2020-03-09,NY,142.0,92.0,NaN,NaN,NaN,234,2020-03-09 20:00:00+00:00,New York,19798228.0,37.0,37.0,0.0,0.000012,1.000000
693,2020-03-08,NY,105.0,92.0,NaN,NaN,NaN,197,2020-03-08 20:00:00+00:00,New York,19798228.0,-207.0,29.0,0.0,0.000010,-0.140097
745,2020-03-07,NY,76.0,92.0,236.0,NaN,NaN,404,2020-03-07 21:00:00+00:00,New York,19798228.0,43.0,43.0,0.0,0.000020,1.000000
797,2020-03-06,NY,33.0,92.0,236.0,NaN,NaN,361,2020-03-06 21:00:00+00:00,New York,19798228.0,239.0,11.0,16.0,0.000018,0.046025
833,2020-03-05,NY,22.0,76.0,24.0,NaN,NaN,122,2020-03-05 21:00:00+00:00,New York,19798228.0,44.0,16.0,28.0,0.000006,0.363636
863,2020-03-04,NY,6.0,48.0,24.0,NaN,NaN,78,2020-03-04 21:00:00+00:00,New York,19798228.0,NaN,NaN,NaN,0.000004,NaN

In [45]:
# look at NY over time
combined_1[combined_1['state'] == 'New Jersey']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
34,2020-03-21,NJ,1327.0,294.0,40.0,NaN,16.0,1661,2020-03-21 20:00:00+00:00,New Jersey,8960161.0,421.0,437.0,30.0,1.853761e-04,1.038005
90,2020-03-20,NJ,890.0,264.0,86.0,NaN,11.0,1240,2020-03-20 20:00:00+00:00,New Jersey,8960161.0,214.0,148.0,54.0,1.383904e-04,0.691589
146,2020-03-19,NJ,742.0,210.0,74.0,NaN,9.0,1026,2020-03-19 20:00:00+00:00,New Jersey,8960161.0,388.0,315.0,20.0,1.145069e-04,0.811856
199,2020-03-18,NJ,427.0,190.0,21.0,NaN,5.0,638,2020-03-18 20:00:00+00:00,New Jersey,8960161.0,153.0,160.0,27.0,7.120408e-05,1.045752
255,2020-03-17,NJ,267.0,163.0,55.0,NaN,3.0,485,2020-03-17 20:00:00+00:00,New Jersey,8960161.0,267.0,89.0,43.0,5.412849e-05,0.333333
311,2020-03-16,NJ,178.0,120.0,20.0,NaN,2.0,218,2020-03-16 20:00:00+00:00,New Jersey,8960161.0,-34.0,80.0,0.0,2.432992e-05,-2.352941
367,2020-03-15,NJ,98.0,120.0,34.0,NaN,2.0,252,2020-03-15 20:00:00+00:00,New Jersey,8960161.0,25.0,48.0,23.0,2.812449e-05,1.920000
418,2020-03-14,NJ,50.0,97.0,80.0,NaN,1.0,227,2020-03-14 20:00:00+00:00,New Jersey,8960161.0,0.0,0.0,0.0,2.533437e-05,NaN
469,2020-03-13,NJ,50.0,97.0,80.0,NaN,1.0,227,2020-03-13 20:00:00+00:00,New Jersey,8960161.0,103.0,20.0,23.0,2.533437e-05,0.194175
520,2020-03-12,NJ,30.0,74.0,20.0,NaN,1.0,124,2020-03-12 20:00:00+00:00,New Jersey,8960161.0,24.0,6.0,17.0,1.383904e-05,0.250000
571,2020-03-11,NJ,24.0,57.0,20.0,NaN,1.0,100,2020-03-11 20:00:00+00:00,New Jersey,8960161.0,21.0,9.0,13.0,1.116051e-05,0.428571
622,2020-03-10,NJ,15.0,44.0,20.0,NaN,NaN,79,2020-03-10 20:00:00+00:00,New Jersey,8960161.0,19.0,4.0,9.0,8.816806e-06,0.210526
673,2020-03-09,NJ,11.0,35.0,14.0,NaN,NaN,60,2020-03-09 20:00:00+00:00,New Jersey,8960161.0,23.0,5.0,4.0,6.696308e-06,0.217391
703,2020-03-08,NJ,6.0,31.0,0.0,NaN,NaN,37,2020-03-08 20:00:00+00:00,New Jersey,8960161.0,32.0,2.0,NaN,4.129390e-06,0.062500
755,2020-03-07,NJ,4.0,NaN,1.0,NaN,NaN,5,2020-03-07 21:00:00+00:00,New Jersey,8960161.0,4.0,3.0,NaN,5.580257e-07,0.750000
811,2020-03-06,NJ,1.0,NaN,NaN,NaN,NaN,1,2020-03-06 21:00:00+00:00,New Jersey,8960161.0,0.0,0.0,NaN,1.116051e-07,NaN
842,2020-03-05,NJ,1.0,NaN,NaN,NaN,NaN,1,2020-03-05 21:00:00+00:00,New Jersey,8960161.0,NaN,NaN,NaN,1.116051e-07,NaN

In [46]:
# look at WA over time
combined_1[combined_1['state'] == 'Washington']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
52,2020-03-21,WA,1524.0,21719.0,NaN,NaN,83.0,23243,2020-03-21 20:00:00+00:00,Washington,7169967.0,2531.0,148.0,2383.0,0.003242,0.058475
108,2020-03-20,WA,1376.0,19336.0,NaN,NaN,74.0,20712,2020-03-20 20:00:00+00:00,Washington,7169967.0,3607.0,189.0,3418.0,0.002889,0.052398
164,2020-03-19,WA,1187.0,15918.0,NaN,NaN,66.0,17105,2020-03-19 20:00:00+00:00,Washington,7169967.0,2976.0,175.0,2801.0,0.002386,0.058804
215,2020-03-18,WA,1012.0,13117.0,NaN,NaN,52.0,14129,2020-03-18 20:00:00+00:00,Washington,7169967.0,1643.0,108.0,1535.0,0.001971,0.065733
271,2020-03-17,WA,904.0,11582.0,NaN,NaN,48.0,12486,2020-03-17 20:00:00+00:00,Washington,7169967.0,2266.0,135.0,2131.0,0.001741,0.059576
327,2020-03-16,WA,769.0,9451.0,NaN,NaN,42.0,10220,2020-03-16 20:00:00+00:00,Washington,7169967.0,2456.0,127.0,2329.0,0.001425,0.051710
383,2020-03-15,WA,642.0,7122.0,NaN,NaN,40.0,7764,2020-03-15 20:00:00+00:00,Washington,7169967.0,1195.0,74.0,1121.0,0.001083,0.061925
434,2020-03-14,WA,568.0,6001.0,NaN,NaN,37.0,6569,2020-03-14 20:00:00+00:00,Washington,7169967.0,1762.0,111.0,1651.0,0.000916,0.062997
485,2020-03-13,WA,457.0,4350.0,NaN,NaN,31.0,4807,2020-03-13 20:00:00+00:00,Washington,7169967.0,1404.0,120.0,1313.0,0.000670,0.085470
536,2020-03-12,WA,337.0,3037.0,NaN,NaN,29.0,3403,2020-03-12 20:00:00+00:00,Washington,7169967.0,937.0,70.0,862.0,0.000475,0.074707
587,2020-03-11,WA,267.0,2175.0,NaN,NaN,24.0,2466,2020-03-11 20:00:00+00:00,Washington,7169967.0,1194.0,105.0,1065.0,0.000344,0.087940
638,2020-03-10,WA,162.0,1110.0,NaN,NaN,NaN,1272,2020-03-10 20:00:00+00:00,Washington,7169967.0,26.0,26.0,0.0,0.000177,1.000000
689,2020-03-09,WA,136.0,1110.0,NaN,NaN,NaN,1246,2020-03-09 20:00:00+00:00,Washington,7169967.0,444.0,34.0,470.0,0.000174,0.076577
694,2020-03-08,WA,102.0,640.0,60.0,NaN,NaN,802,2020-03-08 20:00:00+00:00,Washington,7169967.0,264.0,0.0,270.0,0.000112,0.000000
744,2020-03-07,WA,102.0,370.0,66.0,NaN,NaN,538,2020-03-07 21:00:00+00:00,Washington,7169967.0,89.0,23.0,0.0,0.000075,0.258427
795,2020-03-06,WA,79.0,370.0,NaN,NaN,NaN,449,2020-03-06 21:00:00+00:00,Washington,7169967.0,379.0,9.0,NaN,0.000063,0.023747
831,2020-03-05,WA,70.0,NaN,NaN,NaN,NaN,70,2020-03-05 21:00:00+00:00,Washington,7169967.0,31.0,31.0,NaN,0.000010,1.000000
867,2020-03-04,WA,39.0,NaN,NaN,NaN,NaN,39,2020-03-04 21:00:00+00:00,Washington,7169967.0,NaN,NaN,NaN,0.000005,NaN

In [47]:
# look at VA over time
combined_1[combined_1['state'] == 'Virginia']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
49,2020-03-21,VA,152.0,2638.0,NaN,25.0,2.0,2790,2020-03-21 20:00:00+00:00,Virginia,8365952.0,465.0,38.0,427.0,0.000333,0.081720
105,2020-03-20,VA,114.0,2211.0,NaN,NaN,2.0,2325,2020-03-20 20:00:00+00:00,Virginia,8365952.0,402.0,20.0,382.0,0.000278,0.049751
161,2020-03-19,VA,94.0,1829.0,NaN,NaN,2.0,1923,2020-03-19 20:00:00+00:00,Virginia,8365952.0,645.0,17.0,628.0,0.000230,0.026357
213,2020-03-18,VA,77.0,1201.0,NaN,NaN,1.0,1278,2020-03-18 20:00:00+00:00,Virginia,8365952.0,250.0,10.0,240.0,0.000153,0.040000
269,2020-03-17,VA,67.0,961.0,NaN,NaN,1.0,1028,2020-03-17 20:00:00+00:00,Virginia,8365952.0,539.0,16.0,523.0,0.000123,0.029685
325,2020-03-16,VA,51.0,438.0,NaN,NaN,1.0,489,2020-03-16 20:00:00+00:00,Virginia,8365952.0,81.0,6.0,75.0,0.000058,0.074074
381,2020-03-15,VA,45.0,363.0,NaN,NaN,1.0,408,2020-03-15 20:00:00+00:00,Virginia,8365952.0,261.0,15.0,246.0,0.000049,0.057471
432,2020-03-14,VA,30.0,117.0,NaN,NaN,NaN,147,2020-03-14 20:00:00+00:00,Virginia,8365952.0,0.0,0.0,0.0,0.000018,NaN
483,2020-03-13,VA,30.0,117.0,NaN,NaN,NaN,147,2020-03-13 20:00:00+00:00,Virginia,8365952.0,13.0,13.0,0.0,0.000018,1.000000
534,2020-03-12,VA,17.0,117.0,NaN,NaN,NaN,134,2020-03-12 20:00:00+00:00,Virginia,8365952.0,65.0,8.0,57.0,0.000016,0.123077
585,2020-03-11,VA,9.0,60.0,NaN,NaN,NaN,69,2020-03-11 20:00:00+00:00,Virginia,8365952.0,8.0,1.0,7.0,0.000008,0.125000
636,2020-03-10,VA,8.0,53.0,NaN,NaN,NaN,61,2020-03-10 20:00:00+00:00,Virginia,8365952.0,11.0,5.0,15.0,0.000007,0.454545
687,2020-03-09,VA,3.0,38.0,9.0,NaN,NaN,50,2020-03-09 20:00:00+00:00,Virginia,8365952.0,6.0,1.0,2.0,0.000006,0.166667
710,2020-03-08,VA,2.0,36.0,6.0,NaN,NaN,44,2020-03-08 20:00:00+00:00,Virginia,8365952.0,6.0,2.0,5.0,0.000005,0.333333
773,2020-03-07,VA,0.0,31.0,7.0,NaN,NaN,38,2020-03-07 21:00:00+00:00,Virginia,8365952.0,7.0,0.0,10.0,0.000005,0.000000
828,2020-03-06,VA,0.0,21.0,10.0,NaN,NaN,31,2020-03-06 21:00:00+00:00,Virginia,8365952.0,10.0,0.0,3.0,0.000004,0.000000
853,2020-03-05,VA,0.0,18.0,3.0,NaN,NaN,21,2020-03-05 21:00:00+00:00,Virginia,8365952.0,NaN,NaN,NaN,0.000003,NaN

In [48]:
# look at DC over time
combined_1[combined_1['state'] == 'District of Columbia']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
8,2020-03-21,DC,77.0,506.0,0.0,NaN,1.0,583,2020-03-21 20:00:00+00:00,District of Columbia,672391.0,10.0,6.0,5.0,0.000867,0.600000
64,2020-03-20,DC,71.0,501.0,1.0,NaN,1.0,573,2020-03-20 20:00:00+00:00,District of Columbia,672391.0,370.0,32.0,348.0,0.000852,0.086486
120,2020-03-19,DC,39.0,153.0,11.0,NaN,0.0,203,2020-03-19 20:00:00+00:00,District of Columbia,672391.0,33.0,8.0,15.0,0.000302,0.242424
175,2020-03-18,DC,31.0,138.0,1.0,NaN,NaN,170,2020-03-18 20:00:00+00:00,District of Columbia,672391.0,44.0,9.0,34.0,0.000253,0.204545
231,2020-03-17,DC,22.0,104.0,0.0,NaN,NaN,126,2020-03-17 20:00:00+00:00,District of Columbia,672391.0,6.0,5.0,8.0,0.000187,0.833333
287,2020-03-16,DC,17.0,96.0,7.0,NaN,NaN,120,2020-03-16 20:00:00+00:00,District of Columbia,672391.0,5.0,1.0,17.0,0.000178,0.200000
343,2020-03-15,DC,16.0,79.0,20.0,NaN,NaN,115,2020-03-15 20:00:00+00:00,District of Columbia,672391.0,46.0,6.0,30.0,0.000171,0.130435
394,2020-03-14,DC,10.0,49.0,10.0,NaN,NaN,69,2020-03-14 20:00:00+00:00,District of Columbia,672391.0,39.0,0.0,29.0,0.000103,0.000000
445,2020-03-13,DC,10.0,20.0,NaN,NaN,NaN,30,2020-03-13 20:00:00+00:00,District of Columbia,672391.0,0.0,0.0,0.0,0.000045,NaN
496,2020-03-12,DC,10.0,20.0,NaN,NaN,NaN,30,2020-03-12 20:00:00+00:00,District of Columbia,672391.0,-9.0,6.0,0.0,0.000045,-0.666667
547,2020-03-11,DC,4.0,20.0,15.0,NaN,NaN,39,2020-03-11 20:00:00+00:00,District of Columbia,672391.0,15.0,-1.0,3.0,0.000058,-0.066667
598,2020-03-10,DC,5.0,17.0,2.0,NaN,NaN,24,2020-03-10 20:00:00+00:00,District of Columbia,672391.0,6.0,4.0,3.0,0.000036,0.666667
649,2020-03-09,DC,1.0,14.0,3.0,NaN,NaN,18,2020-03-09 20:00:00+00:00,District of Columbia,672391.0,7.0,0.0,4.0,0.000027,0.000000
722,2020-03-08,DC,1.0,10.0,0.0,NaN,NaN,11,2020-03-08 20:00:00+00:00,District of Columbia,672391.0,2.0,1.0,2.0,0.000016,0.500000
783,2020-03-07,DC,0.0,8.0,1.0,NaN,NaN,9,2020-03-07 21:00:00+00:00,District of Columbia,672391.0,0.0,0.0,0.0,0.000013,NaN
817,2020-03-06,DC,0.0,8.0,1.0,NaN,NaN,9,2020-03-06 21:00:00+00:00,District of Columbia,672391.0,1.0,0.0,2.0,0.000013,0.000000
848,2020-03-05,DC,0.0,6.0,2.0,NaN,NaN,8,2020-03-05 21:00:00+00:00,District of Columbia,672391.0,NaN,NaN,NaN,0.000012,NaN

In [49]:
# look at LA over time
combined_1[combined_1['state'] == 'Louisiana']

,date,state_abbr,positive,negative,pending,hospitalized,death,total,dateChecked,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
20,2020-03-21,LA,585.0,2180.0,NaN,NaN,16.0,2765,2020-03-21 20:00:00+00:00,Louisiana,4663461.0,1718.0,106.0,1612.0,0.000593,0.061700
76,2020-03-20,LA,479.0,568.0,NaN,NaN,12.0,1047,2020-03-20 20:00:00+00:00,Louisiana,4663461.0,242.0,132.0,110.0,0.000225,0.545455
132,2020-03-19,LA,347.0,458.0,NaN,NaN,8.0,805,2020-03-19 20:00:00+00:00,Louisiana,4663461.0,230.0,107.0,123.0,0.000173,0.465217
186,2020-03-18,LA,240.0,335.0,NaN,NaN,6.0,575,2020-03-18 20:00:00+00:00,Louisiana,4663461.0,118.0,69.0,49.0,0.000123,0.584746
242,2020-03-17,LA,171.0,286.0,NaN,NaN,4.0,457,2020-03-17 20:00:00+00:00,Louisiana,4663461.0,155.0,57.0,98.0,0.000098,0.367742
298,2020-03-16,LA,114.0,188.0,NaN,NaN,2.0,302,2020-03-16 20:00:00+00:00,Louisiana,4663461.0,55.0,23.0,32.0,0.000065,0.418182
354,2020-03-15,LA,91.0,156.0,NaN,NaN,2.0,247,2020-03-15 20:00:00+00:00,Louisiana,4663461.0,69.0,22.0,47.0,0.000053,0.318841
405,2020-03-14,LA,69.0,109.0,NaN,NaN,NaN,178,2020-03-14 20:00:00+00:00,Louisiana,4663461.0,105.0,33.0,72.0,0.000038,0.314286
456,2020-03-13,LA,36.0,37.0,NaN,NaN,NaN,73,2020-03-13 20:00:00+00:00,Louisiana,4663461.0,22.0,22.0,0.0,0.000016,1.000000
507,2020-03-12,LA,14.0,37.0,NaN,NaN,NaN,51,2020-03-12 20:00:00+00:00,Louisiana,4663461.0,8.0,8.0,0.0,0.000011,1.000000
558,2020-03-11,LA,6.0,37.0,NaN,NaN,NaN,43,2020-03-11 20:00:00+00:00,Louisiana,4663461.0,31.0,5.0,26.0,0.000009,0.161290
609,2020-03-10,LA,1.0,11.0,NaN,NaN,NaN,12,2020-03-10 20:00:00+00:00,Louisiana,4663461.0,6.0,0.0,6.0,0.000003,0.000000
660,2020-03-09,LA,1.0,5.0,NaN,NaN,NaN,6,2020-03-09 20:00:00+00:00,Louisiana,4663461.0,1.0,1.0,0.0,0.000001,1.000000
736,2020-03-08,LA,0.0,5.0,NaN,NaN,NaN,5,2020-03-08 20:00:00+00:00,Louisiana,4663461.0,5.0,0.0,NaN,0.000001,0.000000
788,2020-03-07,LA,0.0,NaN,NaN,NaN,NaN,0,2020-03-07 21:00:00+00:00,Louisiana,4663461.0,NaN,NaN,NaN,0.000000,NaN

# Write to Excel